.form-container {
    position: relative;
    width: 100%;
    text-align: center;
}

.form-content {
    padding: 2.5%;
}

.input-country {
    padding: 1% 0%;
}

.button-search {
    padding: 2.5% 0%;
}

.form-button {
    box-shadow:inset 0px 48px 0px -24px #3d3d3d;
	background-color:#000000;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:16px 0px;
	text-decoration:none;
    width: 200px;
}

select {
    border: none;
    border-bottom: 1px solid;
    padding: 5px 0px;
    width: 200px;
}